# docker-compose for development

version: '3.7'

services:
  web:
    image: nginx:alpine
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    ports:
      - 5050:80
    depends_on:
      - api
      - ui

  db:
    image: postgres
    environment:
      - POSTGRES_USER=aojicpc
      - POSTGRES_PASSWORD=aojicpc

  api:
    build:
      context: ./api
      target: dev
    command: cargo run --bin aoj-icpc-api-server
    # You can use cargo watch instead if you want
    # command: cargo watch -x run --bin aoj-icpc-api-server
    volumes:
      - ./api/src:/app/src
      - ./api/resources:/app/resources
      - ./api/migrations:/app/migrations
      - ./api/Cargo.lock:/app/Cargo.lock
      - ./api/Cargo.toml:/app/Cargo.toml
      - ./api/diesel.toml:/app/diesel.toml
    environment:
      DATABASE_URL: "postgres://aojicpc:aojicpc@db/aojicpc"
      AOJICPC_LOG: "debug"
    depends_on:
      - db

  ui:
    build:
      context: ./ui
      target: dev
    command: npm start
    volumes:
      - ./ui/public:/app/public
      - ./ui/src:/app/src
      - ./ui/package.json:/app/package.json
      - ./ui/package-lock.json:/app/package-lock.json
      - ./ui/tsconfig.json:/app/tsconfig.json
