[package]
name = "aoj-icpc-api-server"
version = "0.1.0"
authors = ["ichyo <ichyo00@gmail.com>"]
edition = "2018"

[dependencies]
actix-web = "1.0"
serde = { version = "1.0", features = ["derive"] }
diesel = { version = "1.0", features = ["postgres"] }